<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <link href="cat.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
